.JudulBeranda {
    background-color: #a8e3ff;
    max-width: 500px;
    text-align: center;
    margin-left: 450px;
    border-radius: 20px;
    padding: 5px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    font-family: 'Courier New', Courier, monospace;
}